{% load widget_tweaks %}

<form action="{{ add_time_form.action }}" method="post" class="col">
  {% csrf_token %}

  <div class="row form-group">
    <p class="text-danger">{{ add_time_form.form_errors }}</p>

    {% for field in add_time_form %}
      <fieldset class="col">
        {{ field.label_tag }}
        {{ field|add_error_class:"is-invalid"|add_class:"form-control" }}
        <div class="invalid-feedback">{{ field.errors }}</div>
      </fieldset>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" name="add_time" class="btn btn-primary btn-block">
        Add Time
      </button>
    </div>
  </div>

  {# TODO: Filter these progressively.  js required.  :(  #}
  <datalist id="task_list">
    {% for task in form.user_tasks %}
      <option value="{{ task.external_reference }}" />
    {% endfor %}
  </datalist>

  <datalist id="project_list">
    {% for project in form.user_projects %}
      <option value="{{ project.name }}" />
    {% endfor %}
  </datalist>

  <datalist id="client_list">
    {% for client in form.user_clients %}
      <option value="{{ client.name }}" />
    {% endfor %}
  </datalist>
</form>
