{% load tz %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Keiyakusha{% endblock %}</title>

  <link
    rel="stylesheet"
    href="https://bootswatch.com/4/solar/bootstrap.css"
  />
</head>

<body>
  <article class="container">
    {% block content %}{% endblock %}
    <footer>{% get_current_timezone as timezone%}{{ timezone }}</footer>
  </article>
</body>
</html>
